.card{
		
		text-align:justify;
		font-family: verdana;
		width: 45em;
		margin-right: auto;
		margin-left: auto;
		line-height: 1.3;
		color: #333;
		padding-top: 20px;
				
		}


#logo{
		width:180px;
		height: 20px;
		position: auto;
}	
		
#cards{
	width: 80em;
	line-height:1.3;
    padding: 40px;
	}
	
	#cards1{
	width: 100em;
	line-height:1.3;
    padding: -10px;
	}
	
body, h1 {
	margin:0px;
}

#sec1{
	position:relative;
	width:100%;
	height:100%;
	max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
	background-repeat: no-repeat;
	background-color: ;
	background-size: contain;
	background-position: center center;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: white;
}
.nav-bar {
    width: 100%;
}
.nav-container {
    overflow: hidden;
	margin: 0 auto;

}
.nav-menu {
  display: none;
  
}
nav.nav-bar ul {
  list-style: none;
}
.nav-list {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.nav-list li {
  float: left;
  width:16.665%;
}
.nav-list li a {
  display: block;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  padding: 30px 20px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition:all 0.2s linear;
   -moz-transition:all 0.2s linear;
     -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
}
.nav-list li a:hover {
  -webkit-filter: brightness(1.3);				
  padding-top: 80px ;
}

#tile1 {
  background:#00ced7
}
#tile2 {
  background:#00bbc3
}
#tile3 {
  background:#00a8af
}
#tile4 {
  background:#00959c
}
#tile5 {
  background:#00889c
}
#tile6 {
  background:#007b9c
}


#sec1 .div-tit{
	position:absolute;
	top:20%;
	left:90%;
	transform: translate(-50%, -50%);
}

#sec1 .div-tit h1{
	font-size: 5em;
	text-transform: uppercase;
	color: #100f53;
	text-align: center-right;
}

#sec1 .div-tit a{
	background: #fff;
	color: #00ced7;
	margin: 0 auto;
	display: table;
	padding: 8px 28px;
	font-size: 2em;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 25px;
	font-weight: 700;
}

#sec1 .div-tit a:hover{
	background: #006e9c;
	color: #fff;
}

#endereco {

float:left;
width:300px; 
height: 550px;
margin: 0 auto;
}
